.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: auto auto auto; */
    grid-gap: 20px;
}
@media screen and (max-width:800px) {
    .services{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:600px) {
    .services{
        grid-template-columns: auto;
    }
}